html {
  background: blue;
}

body {
  background: white;
  border-radius: 15px;
  padding: 50px 55px;
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

h1 {
  color: navy;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

h2 {
  color: navy;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

#button {
  border: 1px black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: darkred;
}

html {
  background: blue;
}

img {
  border: 1px solid grey;
}
